<footer>
  <div class="container text-white text-center">
    <div class="row py-5">
      <div class="col-lg-4">
        <div>
          <h4 class="text-uppercase fw-bold">location</h4>
          <p class="lato-font fs-5">
            2215 John Daniel Drive <br />
            Clark, MO 65243
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="social">
          <h4 class="text-uppercase fw-bold">around the web</h4>
          <div>
            <a href="#" class="mx-1 rounded-circle btn btn-outline-light fs-5">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#" class="mx-1 rounded-circle btn btn-outline-light fs-5">
              <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="#" class="mx-1 rounded-circle btn btn-outline-light fs-5">
              <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="#" class="mx-1 rounded-circle btn btn-outline-light fs-5">
              <i class="fa-brands fa-dribbble"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <h4 class="text-uppercase fw-bold">about freelancer</h4>
          <p class="lato-font fs-5">
            Freelance is a free to use, MIT licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="bottom-footer">
  <div class="container-fluid">
    <div class="row text-center py-4">
      <div>
        <p class="text-white mb-0">Copyright © Your Website 2022</p>
      </div>
    </div>
  </div>
</div>
