<section id="about" class="py-5">
  <div class="container text-white py-5">
    <div class="row text-center">
      <div>
        <h2 class="text-uppercase fw-bold">about</h2>
      </div>
      <div class="d-flex text-center justify-content-center my-3">
        <div class="line me-3"></div>
        <div><i class="fa-solid fa-star fs-2"></i></div>
        <div class="line ms-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ms-auto">
        <div>
          <p class="lato-font fs-5">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
      <div class="col-lg-4 me-auto">
        <div>
          <p class="lato-font fs-5">
            You can create your own custom avatar for the masthead, change the
            icon in the dividers, and add your email address to the contact form
            to make it fully functional!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
