<section id="contact" class="py-5">
  <div class="container py-5">
    <div class="row text-center dark-color">
      <div>
        <h2 class="text-uppercase fw-bold">contact me</h2>
      </div>
      <div class="d-flex text-center justify-content-center my-3">
        <div class="line me-3 bg-color"></div>
        <div><i class="fa-solid fa-star fs-2"></i></div>
        <div class="line ms-3 bg-color"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="form">
          <div class="input">
            <label>Name</label>
            <input type="text" required placeholder="Name" />
          </div>
          <div class="input">
            <label>Email Address</label>
            <input type="email" required placeholder="Email Address" />
          </div>
          <div class="input">
            <label>Phone Number</label>
            <input type="text" required placeholder="Phone Number" />
          </div>
          <div class="input">
            <label>Message</label>
            <textarea
              type="text"
              required
              placeholder="Message"
              rows="4"
            ></textarea>
          </div>
          <button class="btn mt-4">Send</button>
        </div>
      </div>
    </div>
  </div>
</section>
