<section id="home">
  <div
    class="container vh-100 d-flex align-items-center justify-content-center"
  >
    <div class="row">
      <div class="text-center text-white">
        <img
          src="../../assets/images/person.svg"
          alt="Person Graphic Image"
          class="img-fluid"
        />
        <div>
          <h1 class="text-uppercase fw-bold mt-5">start angular</h1>
        </div>
        <div class="d-flex text-center justify-content-center my-3">
          <div class="line me-3"></div>
          <div><i class="fa-solid fa-star fs-2"></i></div>
          <div class="line ms-3"></div>
        </div>
        <p class="lato-font fs-4">
          Graphic Artist - Web Designer - Illustrator
        </p>
      </div>
    </div>
  </div>
</section>
